
<% include ./partials/head %>
  <% include ./partials/header %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
	      <div class="jumbotron text-center">
				  <div class="row">
				    <div class="col-md-6 col-md-offset-3">
				      <h2>Thank You</h2>
				      <p class="text-left">Your report has been saved, and we will act upon it if more reports are received on the same offender.</p>
				      <a ui-sref="form">Submit another report</a>
				    </div>
				  </div>
				</div
      </div>
    </div>
  </div>
<% include ./partials/footer %>
