    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">FAQ</h1>
        <p class="lead blog-description">Here are some frequently asked questions</p>
      </div>

      <div class="row">
        <div class="col-sm-10 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">Why do you allow anonymous reporting? Won't this be abused?</h2>
            <p>The risk of false reporting is really not too risky in our case. The reports will not be used to go to the police, nor will they be used to publicly shame anyone. The only recipient of the reports will be the offender himself.</p>
          </div>
          <div class="blog-post">
            <h2 class="blog-post-title">By only making a phone call, aren't you letting criminals 'off the hook'?</h2>
            <p>We are NOT the address for criminal cases of sexual harassment. We strongly feel that riminal cases should be reported to the police. If the plaintiff herself feels that going to the police is not justified, and if she further believes that the offender might respond positively to our intervention, then we are the address</p>
          </div>
          <div class="blog-post">
            <h2 class="blog-post-title">How can I tell if my report ended up triggering an intervention?</h2>
            <p>You cannot tell if and when an intervention has been made through our system. We would REALLY like to offer you this kind of closure, however if we had, we would be open to abuse. Imagine that Alice, a journalist, is trying to dig up dirt on a politician named Bob. Now let's say you submit 4 fake anonymous reports on Bob. If your actions result in an intervention, then you can determine that there is one other complaint about bob, other then your own. The original plaintiff thought Bob was an OK guy who had occasional slip-ups and did not plan on publicly shaming him. Alice might feel differently! Not only is this a bad outcome for Bob, but now our system is contaminated by anonymous reports from dirt diggers such as Alice. By not telling our users what happens to their report we protect Bob and disincentivise false reporting. </p>
          </div>
        </div>
      </div>
    </div>
