<% include ./partials/head %>
  <% include ./partials/header %>
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">FAQ</h1>
        <p class="lead blog-description">Here are some frequently asked questions</p>
      </div>

      <div class="row">
        <div class="col-sm-10 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">Why do you allow anonymous reporting? Won't this be abused?</h2>
            <p>The risk of false reporting is really not too risky in our case. The reports will not be used to go to the police, nor will they be used to publicly shame anyone. The only recipient of the reports will be the offender himself.</p>
          </div>
          <div class="blog-post">
            <h2 class="blog-post-title">By only making a phone call, aren't you letting offenders 'off the hook'?</h2>
            <p>We are NOT the address for criminal cases of sexual harassment. We strongly feel that criminal cases should be reported to the police. If the plaintiff herself feels that going to the police is not justified, and if she further believes that the offender might respond positively to our intervention, then we are the address</p>
          </div>
          <div class="blog-post">
            <h2 class="blog-post-title">How do I know what actions were taken due to my report?</h2>
            <p>We would REALLY like to let you know about your report. We understand the need to follow up and to get closure. However if we reveal this information to you, we would be making ourselves open to abuse.</p>
            <p>Imagine that Malice, a journalist, is trying to dig up dirt on a politician named Bob. Now let's say Malice submits 4 fake anonymous reports on Bob. If Malice's actions result in an intervention and we tell her about it, then she can determine that there was one legitimate complaint about bob, in addition to her 4 fake reports. The legitimate plaintiff thought Bob was an OK guy who had occasional slip-ups and never intended to publicly shame him. Malice might feel differently! Not only is this a bad outcome for Bob, but now our system is contaminated by anonymous reports from dirt diggers such as Malice.</p>
            <p> By not telling our users what happens to their report we protect Bob and disincentivise false reporting.</p>
          </div>
        </div>
      </div>
    </div>
<% include ./partials/footer %>
