<% include ./partials/head %>
<% include ./partials/header %>
<div class="container" ng-controller="FormController as vm">
  <div class="text-center" ng-if="vm.shouldDrawFormNav()">
      <div class="form-nav" class="text-center">
          <a ng-repeat="(index, step) in vm.steps" ui-sref="{{step.stepName}}"><span ng-class="vm.getClass(step)"></span> {{step.stepDisplayName || Camel}}</a>
      </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div ui-view></div>
    </div>
  </div>
</div>

<!-- Angular template of error message -->
<script type="text/ng-template" id="form-messages.html">
  <formly-transclude></formly-transclude>

  <div class="my-messages" ng-messages="fc.$error" ng-if="options.formControl.$touched">
    <div class="some-message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
      <br/>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
          {{message(fc.$viewValue, fc.$modelValue, this)}}
      </div>
    </div>
  </div>
</script>

<!-- Angular templates for form steps -->
<script type="text/ng-template" id="form-when.html">
  <h2>When did the incident(s) occur?</h2>

  <form novalidate name="vm.steps[0].form">
    <formly-form model="vm.model" fields="vm.steps[0].fields" form="vm.steps[0].form">
      <div style="text-align:right">
        <button ui-sref="where" type="submit" ng-disabled="vm.steps[0].form.$invalid || !vm.model.months.length" class="btn btn-primary submit-button">Next</button>
      </div>
    </formly-form>
  </form>
</script>

<script type="text/ng-template" id="form-where.html">
  <h2>Location of incidents?</h2>
  <form novalidate name="vm.steps[1].form">
    <formly-form model="vm.model" fields="vm.steps[1].fields" form="vm.steps[1].form">
      <div style="text-align:right">
        <button ui-sref="what" type="submit" ng-disabled="vm.steps[1].form.$invalid" class="btn btn-primary submit-button">Next</button>
      </div>
    </formly-form>
  </form>
</script>

<script type="text/ng-template" id="form-what.html">
  <h2>What happened?</h2>
  <form novalidate name="vm.steps[2].form">
    <formly-form model="vm.model" fields="vm.steps[2].fields" form="vm.steps[2].form">
      <div style="text-align:right">
        <button ui-sref="who" type="submit" ng-disabled="vm.steps[2].form.$invalid" class="btn btn-primary submit-button">Next</button>
      </div>
    </formly-form>
  </form>
</script>

<script type="text/ng-template" id="form-who.html">
  <h2>Ids of culprit</h2>
  <form novalidate name="vm.steps[3].form">
    <formly-form model="vm.model" fields="vm.steps[3].fields" form="vm.steps[3].form">
      <div style="text-align:right">
        <button ui-sref="how" type="submit" ng-disabled="vm.steps[3].form.$invalid" class="btn btn-primary submit-button">Next</button>
      </div>
    </formly-form>
  </form>
</script>

<script type="text/ng-template" id="form-how.html">
  <h2>When should we contact the culprit?</h2>
  bla bla bla
  <div style="text-align:right">
    <button ng-click="vm.submitReport()" class="btn btn-primary submit-button">Confirm</button>
  </div>
</script>

<script type="text/ng-template" id="form-done.html">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Thank You</h2>
        <p class="text-left">Your report has been saved, and we will act upon it if more reports are received on the same offender.</p>
        <a href="/form" target="_self" class="btn btn-primary">Submit another report</a>
      </div>
    </div>
  </div
</script>


<% include ./partials/footer %>
