<div class="jumbotron text-center">
  <h1>Borderline</h1>
    <p>
      Let men know when they're making you uncomfortable. Anonymously.
    </p>
    <br/>
    <p class="text-left text-muted">
      If anyone is sexually harassing you, you should consider going to HR or even the police. But what if someone is just making you feel uncomfortable? Punishing this person is <i>not</i> your only option. You can also <i>help</i> him by letting him know he's gone to far. We will help you help him while protecting both your and his privacy.
    </p>
  <p>
    <a class="btn btn-lg btn-primary" ui-sref="warning" role="button">Let him know</a>
  </p>
</div>
