<div class="jumbotron text-center">
  <h1>Borderline</h1>
    <p>
      Let men know when they've crossed the line. Anonymously.
    </p>
    <br/>
    <p class="text-left text-muted">
      Some men need to go to jail. Period. But many others are not criminals. Not yet, anyway. They could still benefit from a very serious wakeup call. If several women agree that a specific man is consistently stepping out of line, <i>we will make that call.</i>
    </p>
  <p>
    <a class="btn btn-lg btn-primary" ui-sref="report" role="button">Report</a>
  </p>
</div>
