<!DOCTYPE html>
<html ng-app="borderlineApp">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Borderline</title>
      <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <div ng-controller="reportsController">
          <h1>There are {{reports.length}} reports</h1>
          <li ng-repeat="report in reports">
              {{report.culpritName}}
          </li>

          <form ng-submit="createReport()">
              <input type="text" placeholder="culprit name" ng-model="culpritName"></input>
              <button type="submit">Add</button>
          </form>
      </div>
      <script type="text/javascript" src="/lib/angular/angular.js"></script>
      <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
      <script type="text/javascript" src="/js/app.js"></script>
      <script type="text/javascript" src="/js/controllers/reports-controller.js"></script>
    </body>
</html>