<!DOCTYPE html>
<html>

<head>
  <title>Borderline</title>
  <base href="/">
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
  <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/controllers/reports-controller.js"></script>
</head>

<body ng-app="borderlineApp">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
      <ui-view></ui-view>
    </div>
  </div>
</body>

</html>
