<p>Yes, you are able to submit the report with full anonymity.</p>
<p>You also have the option of logging in with your Facebook account. Now, why on earth would you do that?</p>
<ul>
  <li>You have our word that your identity will never be revealed. Not even to us who operate the site!</li>
  <li>You (and only you) will be able to update or cancel your reports even after submission.</li>
  <li>You will know when the report has reached the person in question.</li>
  <li>Society at large will benefit from the rich statistics we could collect. What age groups are reporting? From what countries? Cities? How many people are reported by each user on average? How many unique users use this service?</li>
  <li>You have NOTHING to be ashamed of.</li>
</ul>
<a ui-sref="form.incident" class="btn btn-primary">
Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>
