<h2>Unique Identification of Offender</h2>
<p>When we receive a report, we run a scan to see if the same offender has already been reported. In such a case, your report will join with the others, to make for a more powerful intervention.</p>
<p>Please give us as many identifiers as possible in order to maximize our ability to match your report with others</p>
<br/>

<formly-form model="report" fields="idFields" form="reportForm">
</formly-form>
<a ui-sref="form.confirm" class="btn btn-primary">
Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>
