<% include ./partials/head %>
  <% include ./partials/header %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
		<div class="jumbotron text-center">
		  <div class="row">
		    <div class="col-md-6 col-md-offset-3">
		      <h2>Warning</h2>
		      <p class="text-left">Don't be an asshole</p>
		      <a href="preFormLogin" class="btn btn-danger">I agree</a>
		    </div>
		  </div>
		</div>
      </div>
    </div>
  </div>
<% include ./partials/footer %>
