// Numbered buttons
$nav-button-bg: #080808;
$nav-button-bg-active: #00bc8c;

.form-navigation {
  a {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;

    :hover {
      text-decoration: none;
    }
  }

  span {
    background: $nav-button-bg;
    border-radius: 50%;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
  }

  .active span {
    background: $nav-button-bg-active;
  }
}

// Animation
.report-form {
  min-height: 300px;
  overflow: hidden;
  padding: 30px;
  position: relative;
}

.form-wizard-ui {
  width: auto;

  &.ng-enter,
  &.ng-leave {
    left: 30px;
    position: absolute;
    right: 30px;
    transition: .5s all ease;
    -moz-transition: .5s all ease;
    -webkit-transition: .5s all ease; 
  }

  &.ng-enter {
    animation: slideInRight .5s both ease;
    -webkit-animation: slideInRight .5s both ease;
    -moz-animation: slideInRight .5s both ease;
  }

  &.ng-leave {
    animation: slideOutLeft .5s both ease;
    -webkit-animation: slideOutLeft .5s both ease;
    -moz-animation: slideOutLeft .5s both ease;
  }
}

// slide in from the left
@keyframes slideOutLeft {
  to { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
  to { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to { -webkit-transform: translateX(-200%); }
}

// slide in from the right
@keyframes slideInRight {
  from { transform: translateX(200%); }
  to { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from { -moz-transform: translateX(200%); }
  to { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from { -webkit-transform: translateX(200%); }
  to { -webkit-transform: translateX(0); }
}

